* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.family {
  background-color: rgb(229, 208, 181);
  margin: 20px 20px 20px 20px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.family .side_left {
  margin-top: 20px;
  width: 50%;
  height: 600px;
  float: left;
  flex-direction: column;
  text-align: justify;
}
.family .side_left .text {
  width: 100%;
  padding-top: 20px;
}
.family .side_left .text span {
  font-size: 20px;
  color: red;
  padding-top: 20px;
}
.family .side_left .text h1 {
  width: 70%;
  text-align: justify;
  padding-top: 20px;
}
.family .side_left .text p {
  width: 70%;
  text-align: justify;
  font-size: 25px;
  padding-top: 20px;
}
.family .side_left .picture {
  width: 70%;
  padding-top: 20px;
}
.family .side_left .picture .image {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.family .side_left .picture .image img {
  gap: 10px;
  width: 60px;
  height: 60px;
}
.family .side_left .picture .image span {
  width: 50%;
  font-size: 20px;
  text-align: justify;
}

.restaurant {
  background-color: rgb(229, 208, 181);
  padding: 20px 20px 20px 20px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant .images {
  width: 70%;
  padding-left: 20px;
  width: 50%;
  float: left;
}
.restaurant .images img {
  width: 400px;
  height: 500px;
  padding-bottom: 20px;
}
.restaurant .about {
  padding: 20px 20px 20px 20px;
  width: 70%;
  height: 600px;
  float: right;
  flex-direction: column;
  text-align: justify;
}
.restaurant .about span {
  font-size: 20px;
  color: red;
  padding-top: 20px;
}
.restaurant .about h1 {
  width: 70%;
  text-align: justify;
  padding-top: 20px;
}
.restaurant .about h3 {
  width: 70%;
  text-align: justify;
  font-size: 25px;
  padding-top: 20px;
}
.restaurant .about p {
  width: 70%;
  text-align: justify;
  font-size: 20px;
  padding-top: 20px;
}
.restaurant .about button {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 7px;
  font-size: 15px;
  border: 2px solid red;
  text-align: center;
  cursor: pointer;
}
.restaurant .about button:hover {
  background-color: orangered;
}